<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.jack.pojo.entity"/>
    </typeAliases>

    <typeHandlers>
        <package name="com.jack.typehandler"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/ResourceMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/ToolBagMapper.xml"/>
        <mapper resource="mapper/ToolMapper.xml"/>
        <mapper resource="mapper/ToolCateMapper.xml"/>
        <mapper resource="mapper/RepertoryMapper.xml"/>
        <mapper resource="mapper/DepartmentMapper.xml"/>
    </mappers>
</configuration>